.events-table, .products-table {
    background-color: white;
    width: 100%;
}

.events-th, .products-th {
    width: 50%;
    border-bottom: 1px solid black;
}

.events-tr, .events-tr {
    width: 100%;
}

.events-td, .products-td {
    display: grid;
    grid-template-columns: 45px auto 100px;
}

.table-delete-btn {
    margin: 5px;
    float: right;
}

.table-txt {
    padding-top: 10px;
}

.colorBox {
    width: 35px;
    height: 35px;
    margin: 5px;
}
