.event-header {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.event-header>h1 {
    width: 100%;
}

.event-dates {
    white-space: nowrap;
    width: 40px;
}

.event-base-info {
    text-align: center;
}