.form-header {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

fieldset {
    padding: 1em;
    font:80%/1 sans-serif;
}

input[type="submit"] {
    margin-left: calc(50% - 40px);
}

.invalid-datetime-field > input {
    box-shadow: 0 0 1pt 1.5pt red;
}