body {
	background-color: var(--body-color) !important;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
	width: calc(100% - 40px);
	max-width: 100%;
}

.content {
	padding: 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: #F5F5F5; /* White smoke */
	background-color: white;
}

a, a:hover {
	text-decoration: none;
	color: black;
}

h1, h3 {
	text-align: center;
}

select {
	width: 50%;
}

.org-btns {
	float: right;
}

.mod-btns {
	width: 100%;
	height: 40px;
}

.agenda-iframe {
	width: 100%;
	height: 500px;
	overflow: scroll;
}

.GeneralInfoElement, .AgendaElement {
	margin-bottom: 10px;
}

.section-header {
	text-decoration: underline;
}