.items-table {
    background-color: white;
    width: 100%;
}

.items-th {
    width: 50%;
    border-bottom: 1px solid black;
}

.items-tr {
    width: 100%;
}

.items-td {
    display: grid;
    grid-template-columns: 45px auto 100px;
}

.items-delete-btn {
    margin: 5px;
    float: right;
}

.items-txt {
    padding-top: 10px;
}

.colorBox {
    width: 35px;
    height: 35px;
    margin: 5px;
}
